body{
    background-color: #e3e3e3
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

#header-container {
    border-bottom: 1px solid #ccc;
    background: #666;
    background-image: url('../images/brickBack.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

#top-nav-wrapper {
    width: 100%;
    margin: auto;
    padding: 0px;
    background-color: rgb(247, 132, 0);
    height: 10px;
}

.navbar-brand {
    font-weight: bold;
    color: white;
    margin: auto;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

#top-nav-main {
    max-width: 870px;
    margin: auto;
}

#header-logo {
    margin: auto;
    text-align: center;
    padding: 30px 0 30px 0;
}

#header-logo img {
    max-width: 30%;
}

#top-nav-title {
    padding: 0;
}

.navbar {
    margin: auto;
    text-align: center;
}

#top-nav-links {
    padding-top: 5px;
}

.nav-item a{
    color: rgb(10, 10, 10);
    font-weight: bold;
}

.nav-item a:hover{
    color:rgb(247, 132, 0);
    text-decoration: none;
}

#h1-header {
    /* max-width: 870px; */
    /* margin: auto; */
    margin-bottom: 40px;
    padding: 40px 5px 40px 5px;
    background: white;
    border-bottom: 2px solid rgb(247, 132, 0);
}

#h1-container {
    margin: unset;
    margin-right: 20px;
}

h1 {   
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(10, 10, 10);
    padding: 0px;
    margin-bottom: 0px;
}
#last{
    margin-bottom: 60px
}

.fe,
.be {
    font-size: 35px;
    margin-left: 10px;
    margin-top: 10px;
}

.fe {
    color: rgb(132, 0, 255);
}

.be {
    color: rgb(15, 170, 61);
}

.cards {
    background-color: rgba(255, 255, 255);
    color: black;
    text-align: left;
}

#bio-image {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
}

#contact-image {
	/* float: left; */
	width: 50%;
	/* height: 200px; */
	/* margin-right: 10px; */
}

#portfolio{
    margin-bottom: 55px;
}

#main-content {
    /* max-width: 980px; */
    /* margin: auto;  */
    /* margin-bottom: 100px; */
    max-width: 870px;
    margin: auto;
    margin-bottom: 100px;
    background-color: white;
    padding: 20px;}


 
#universal-footer {
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
    margin: auto 0;
    background:black;
    /* padding: 25px; */
    opacity: .8;
}

.footer-content-top {
    text-align: center;
    margin-bottom: 15px;
}

.footer-content-top a {
    margin-left: 10px;
    margin-right: 10px;
}
.footer-content-bottom {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-align: center;

}
@media screen and (max-width: 767px) {
    #header-logo {
        margin: auto;
        text-align: center;
        padding: 10px 0 10px 0;
    }

    #header-logo img {
        max-width: 170px;
    }

    #top-nav-links {
        margin: auto;
        text-align: center;
    }

    #portfolio-descript {
        height: 200px;
        margin: 10px;
        padding-bottom: 40px;
    }

    #contact-info h5{
        font-size: 1rem;
    }

    #contact-info a{
        font-size: 1rem;
    }

    .justify-content-end {
        justify-content: center!important;
    }

}
